* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#body-box {
  background-color: #5c5fe6;
  /* hello */
  height: 602px;
  width: 799px;
  display: flex;
  justify-content: center;
}
#to-do-box {
  background-color: white;
  margin-top:74px;
  height: 528px;
  width: 478px;
}
.upper-bar {
  border-bottom: 1px solid rgba(128, 128, 128, 0.193);
  display: flex;
  height: 128px;
  width: 478px;
  position: relative;
  justify-content: baseline;
  align-items: center;
  padding: 15px;
}
.upperbar-flex{
  display:flex;
  /* position: relative; */
  justify-content: space-between;
  align-items: center;
  width: 478px;
}
.day-date{
  display: flex;
  /* order: 1; */
}
.task-tasks{
  display: flex;
  /* order: 2; */
}
.day {
  color: #5c5fe6;
}
.date {
  color: #5c5fe6;
}
.month {
  position: absolute;
  bottom: 32px;
}
#item {
  width: 70%;
  padding: 10px;
  margin-top: 20px;
  position: absolute;
  top: 87px;
  left: 15px;
  border: 1px solid rgba(128, 128, 128, 0.193);;
}
#btn {
  border-radius: 25px;
  width: 40px;
  height: 40px;
  font-size: 25px;
  font-weight: 300;
  border: none;
  position: absolute;
  top: 108px;
  right: 15px;
  background-color: #f5696a;
  color: white;
}
.removeButton {
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: white;
  border: none;
}
.listitem {
  list-style: none;
  margin-top: 20px;
}
.toDo {
  border-bottom: 1px solid rgba(128, 128, 128, 0.193);
  padding: 5px;
  margin: 5px;
  display: flex;
  position: relative;
  padding-right: 35px;
  max-width: 440px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}
.itemName {
  width: 400px;
  word-wrap: break-word;
}
#lowerArea {
  display: flex;
  overflow: auto;
  height: 374px;
  margin-top: 27px
}
.inputArea{
  display: flex;
}
